body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#imageachanger{
    max-width: auto;
    height: 400px;
}

body.darkened {
    background-color: black;
    color: white;
    background-image: url('img/back3.png');
    background-size: cover; /* ou 'contain' selon l'effet souhaité */
    background-repeat: no-repeat;
    background-position: center;
}


body.white {
    background-color: white;
    color: black;
}
